# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
*.egg-info/
dist/
build/

# Data & model artifacts
*.csv
*.json
*.npy
*.pkl
*.bin
*.pt
*.h5

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# 2025 PDF dataset
2025/
